@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #111827;
    color: white;
}
.cont-fundo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./imagens/foto3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.market-fundo{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./imagens/futebol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  
}

.favela{
  background-image: linear-gradient(to left, rgb(0, 0, 0)50%,transparent, rgba(0, 0, 0, 0),transparent), url(./imagens/favela.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 70vh;
}

.features{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./imagens/Prancheta\ 3-100.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.hover-image:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}


  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}



@media screen  and (max-width:768px){
/*SOBRE*/
  .titulo-um{
  font-size: 0.5rem;
  padding: 5px;
  
}

#sobre{
  display: flex;
  flex-direction: column;
}
.titulo-dois{
  font-size: 0.8rem;
  padding-top: 20px;
}
.box-tip{
  padding-top: 10px;
}

.imgs{
  height: 60vh !important;
  object-fit: cover;

}

.slide{
  width: 100% !important;
  object-fit: cover;
}
.seta{
  font-size: 1rem;
}
/* OPORTUNIDADE*/

.oport{
  font-size: 2rem;
  padding-top: 100px;
}

.text{
  font-size: 0.9rem;
}

.cartao{
  display: block;
  height: 130px !important;
  width: 300px !important;

} 

/* OQUE FAZEMOS*/
.what-h3{
  font-size: 2rem;
  padding: 5px;
}
.wtext{
  font-size: 0.7rem;
  padding: 5px;
  display: flex;
}
.bandeira{
  display: none;
}
.trof{
  padding: 0px;

}
.pad{
  padding-right: 0;
}
.colu{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  font-size: 1.2rem;
}

/* SOCIAIS*/
.favela{
  background-image: linear-gradient(to left, rgb(0, 0, 0)70%,transparent, rgba(0, 0, 0, 0),transparent), url(./imagens/favela.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
}

.wtext4{
  display: none;
}

.topo{
  padding-top: 30px !important;
  padding-bottom: 10px !important;
  font-size: 1.5rem;
}

/* SOLUÇÕES*/
.hg-sol{
  height: 70vh !important;
}

.what-h5{
  font-size: 2rem;
  padding-top: 100px;
  padding-bottom: 50px;
}

.tchau{
  display: none;
}

.img-bola{
  height: 100px !important;
  padding: 0px;
}
.img-bolae{
  height: 100px !important;
  padding: 0px;
  width: 100px !important ; 
}

.bolas{
  padding: 5px !important;
  padding-top: 50px !important;
}

/* CARACTERISTICAS*/

.wtext7{
  font-size: 0.6rem;
}

.features{
  padding: 10px;
}


/* Roteiro*/

.rot{
  font-size: 2rem;
  padding-bottom: 70px !important;
}
.rotp{
  padding-top: 50px !important;
  
}

.txtroad{
  font-size: 0.7rem;
}



}


