@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #111827;
    color: white;
}
.cont-fundo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./imagens/foto3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.market-fundo{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./imagens/futebol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  
}

.favela{
  background-image: linear-gradient(to left, rgb(0, 0, 0)50%,transparent, rgba(0, 0, 0, 0),transparent), url(./imagens/favela.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 70vh;

}

.features{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./imagens/Prancheta\ 3-100.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.hover-image:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}


  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}